body{
  margin: 0;
  background: whitesmoke;
  user-select: none;
  user-drag:none;
}
section{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.size{
  padding: 0.5%;
  margin-left:-5%;
  font-size: 1.5vw;
  margin-right: 1%;
  outline: none;
}
.color{
  border: 0;
  font-size: 1.5vw;
  outline: none;
  margin-right: 1%;
  width: 5%;
  height: 3vw;

}
main{
  width: 45%;
  display: flex;
  flex-wrap: wrap;
  transition: 1s;
  border: 0.1vw solid grey;
  z-index: 1;
}
main div{
  z-index: 2;
}
.large{
  width:5%;
  box-sizing: border-box;
  border: 0.05vw solid grey;
}
.medium{
  width:2%;
  box-sizing: border-box;
  border: 0.05vw solid grey;
}
.small{
  width:1%;
  box-sizing: border-box;
  border: 0.05vw solid grey;
}
.drawed{
  background: black;
}
button{
  padding: 1%;
  margin-right: -5%;
  margin-left: 3%;
}
.eraser{
  width: 5%;
  height: 3vw;
  display: inline-block;
  margin-left: 6%;
}
.eraser-clicked{
  background-color: #ccc;
}
.grid-clicked{
  background-color: #ccc;
}
.border_true{
  border: none;
}
.grid{
  width: 3%;
  height: 3vw;
  text-align: center;
  margin-left: 1%;

}
